body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 4rem;
}

.fa-compass{
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: black ;
}

.btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}

.btn-search:hover{
    background-color: #fe424d;
    color: white;
}

.btn-search i{
    display: inline;
    margin-right: 0.5rem;
    font-size: 15px
}

.search-inp{
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0;
}

.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}

/* card overlay effect */

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new button */
.add-btn{
    background-color: red;
    border: none;
}

/* edit button */
.edit-btn{
    background-color: red;
    border: none;
}

/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* filter icons */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filters{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.76;
}

.filters:hover{
    opacity: 1;
    cursor: pointer;
}

.filters p {
    font-size: 0.8rem;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}